.icon-dubs-title {
  font-size: 1em;
  color: white;
  margin-left: 0.15em !important;
  /* vertical-align: text-bottom; */
  background-color: #4065ba;
  border-radius: 4px;
  text-align: center;
  padding: 0.1em 0.2em !important;
}

.icon-dubs-link {
  color: white;
  font-size: 12px;
  line-height: 15px !important;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  background-color: #4065ba;
  border-radius: 4px;
  min-height: 15px;
  min-width: 24px;
}

.icon-dubs-image {
  font-family: 'MyDubListIcons' !important;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  pointer-events: none;

  display: inline-block;
  line-height: 1em !important;
}

@supports ((-webkit-backdrop-filter: blur(0)) or (backdrop-filter: blur(0))) {
  .icon-dubs-image {
    background: rgba(0, 2, 117, 0.5);
    -webkit-backdrop-filter: blur(4px) saturate(120%);
    backdrop-filter: blur(4px) saturate(120%);
  }
}

.hoverinfo-contaniner:hover .icon-dubs-hover-hide,
a:hover .icon-dubs-hover-hide {
  opacity: 0;
  pointer-events: none;
}

.incrementalSearchResultList .icon-dubs-link {
  margin-left: 0.3em;
  margin-right: 0.3em;
  vertical-align: text-bottom;
}
