@font-face {
  font-family: 'MyDubListIcons';
  src:  url('MyDubListIcons.woff?i5a0h5') format('woff');
  src:  url('MyDubListIcons.woff2?i5a0h5') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-dubs"], [class*=" icon-dubs"],
[class^="icon-incomplete"], [class*=" icon-incomplete"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MyDubListIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dubs_style_1:before {
  content: "\e900";
}
.icon-incomplete_style_1:before {
  content: "\e901";
}
.icon-dubs_style_2:before {
  content: "\e902";
}
.icon-incomplete_style_2:before {
  content: "\e903";
}
.icon-dubs_style_3:before {
  content: "\e904";
}
.icon-incomplete_style_3:before {
  content: "\e905";
}
.icon-dubs_style_4:before {
  content: "\e906";
}
.icon-incomplete_style_4:before {
  content: "\e907";
}
